.header-nav-links {
  gap: 2rem;
}
.dropdown-menu {
  min-width: 180px;
  z-index: 2000 !important;
}
.header-nav-links {
  gap: 0;
}
.logo_tic {
  width: 60px;
  height: 60px;
}
@media (max-width: 992px) {
  .logo_tic {
    width: 30px;
    height: 30px;
  }
  .header-nav-links {
    padding-top: 60px !important;
    display: flex;
    justify-content: end;
  }
}
.header_top {
  background: #0d3b85;
}
.header-nav-links {
  display: flex;
  align-items: center;
  justify-content: end;
}
.navbar-toggler {
  background-color: #ffffff !important;
}
