option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: config.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings
    PYTHONPATH: /var/app/current:$PYTHONPATH
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
    /media: media

container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
    leader_only: true
  03_create_superuser:
    command: "source /var/app/venv/*/bin/activate && echo \"from app.models import User; User.objects.filter(email='admin@example.com').exists() or User.objects.create_superuser('admin@example.com', 'changeme123')\" | python manage.py shell"
    leader_only: true
