#root {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    background-color:#F3F5F7 !important;
    font-family: "Poppins", sans-serif;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
p{
  margin-bottom: 0px !important;
}
.mt-25 {
  margin-top: 25px;
}
.job-title{
  font-size: 16px;
  font-weight: 700;
}
.job-school{
  font-size: 14px;
  color: #848484;
}
.job-description{
  font-size: 14px;
  color: #000000;
}
.card-body {
  padding: 0px !important;
}
.job-avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 16px;
  object-fit: cover;
  border: 2px solid #eee;
}
.remote__badge__ {
    background-color: #EBEBEB;
    color: #79747E !important;
    padding: 6px 10px !important;
    font-weight: 600 !important;
    font-size: 12px !important;
    border-radius: 5px !important;
}
.expired__badge__{
   /* background-color: #D92D20; */
    color: #D92D20 !important;
    /* padding: 6px 10px !important; */
    font-weight: 700 !important;
    font-size: 12px !important;
    border-radius: 5px !important;
}
.causual__badge__ {
    background-color: #EBEBEB;
    color: #79747E !important;
    padding: 6px 10px !important;
    font-weight: 600 !important;
    font-size: 12px !important;
    border-radius: 5px !important;
}

.active>.page-link, .page-link.active {
    z-index: 3;
    color: #ffffff !important;
    background-color: #0d3b85 !important;
    border-color: #0d3b85 !important;
    font-size: 14px !important;
}
.page-link {
    color: #0d3b85 !important;
    font-size: 14px !important;
}
.disabled>.page-link, .page-link.disabled {
    color: #79747E !important;
}