:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #F3F5F7 !important;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.navbar {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 1000;
  left: 0;
  right: 0;
  background-color: #0d3b85 !important;
  color: #ffffff !important;
  height: 60px;
}

.navbar .nav-link {
  color: #ffffff !important;
  margin-left: 20px;
  font-size: 16px;
  padding-left: 3px !important;
  padding-right: 3px !important;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: #ffffff !important;
  position: relative;
  padding-left: 3px !important;
  padding-right: 3px !important;
  font-weight: 500;
}

.navbar-nav .nav-link.active::after,
.navbar-nav .nav-link.show::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 3px;
  background: #ffffff;
  border-radius: 2px;
}

.primary__clr__ {
  color: #0d3b85;
}

.card {
  padding: 15px !important;
  border: 1px solid #D9D9D9 !important;
}

ul {
  margin-bottom: 0px !important;
  padding-left: 0px !important;
}

.card__tab__ {
  padding: 0px !important;
}

.btn__tab__ {
  font-size: 16px !important;
  font-weight: 600 !important;
  background: #ffffff;
  color: #828282 !important;
  border: none !important;
  border-radius: 0px !important;
  border-right: 1px solid #D9D9D9 !important;
  padding: 15px 20px !important;
}

.card__tab__ .active {
  position: relative;
  color: #0F3F93 !important;
}

.card__tab__ .active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #0F3F93;
  border-radius: 2px 2px 0 0;
}

.count__badge__ {
  background: #e0e0e0;
  border-radius: 50%;
  padding: 2px 7px;
  margin-left: 8px;
  font-size: 12px;
  font-weight: 600;
  min-width: 23px;
  text-align: center;
  display: inline-block;
}

.form-label {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 2px !important;
  color: #000000 !important;
}
.registration__card__ .form-label {
    font-size: 14px !important;
    margin-top: 20px;
    font-weight: 400 !important;
    margin-bottom: 3px !important;
}

.form-control {
  font-size: 14px !important;
  padding: 10px 12px !important;
  height: 42px !important;
  color: #333333 !important;
  border: #acacac 1px solid !important;
  border-radius: 10px !important;
}

.form-select {
  font-size: 14px !important;
  padding: 10px 12px !important;
  height: 42px !important;
  color: #333333 !important;
  border: #acacac 1px solid !important;
}

.btn-primary {
  font-size: 14px !important;
  background-color: #0d3b85 !important;
  border-color: #0d3b85 !important;
  height: 42px !important;
  padding: 10px 20px !important;
}

.btn-secondary {
  font-size: 14px !important;
  background-color: #ffffff !important;
  border-color: #C4C4C4 !important;
  color: #79747E !important;
  height: 42px !important;
  padding: 10px 20px !important;
}
.form-check-label{
  font-size: 16px !important;
  font-weight: 600 !important;
  color: #828282 !important;
}
.form-switch  .form-check-input {
    width: 34px !important;
    height: 20px !important;
    margin-top: 2px !important;
    border: 1px solid #9ea8b9 !important;
}
.form-check  .form-check-input {
    width: 18px !important;
    height: 18px !important;
    margin-top: 2px !important;
    border: 1px solid #BDBDBD !important;
}
.form-check .form-check-label{
  font-size: 14px !important;
  font-weight: 400 !important;
  color: #828282 !important;
}
.form-check-input:checked {
    background-color: #0d3b85 !important;
    border-color: #0d3b85 !important;
}
.form-check-input:checked[type=radio] {
  background-color: #0d3b85 !important;
    border-color: #0d3b85 !important;
      font-size: 14px !important;
}
.form-check-input:checked[type=radio] {
  background-color: #0d3b85 !important;
    border-color: #0d3b85 !important;
    
}
.pl_rem-8{
  padding-left: 8rem !important;
}
.pr_rem-8{
  padding-right: 8rem !important;
}
.txt__regular__{
    font-weight: 400 !important;
    font-size: 14px !important;
}
.txt__regular__sub__{
    font-weight: 400 !important;
    font-size: 12px !important;
}
h2{
    font-weight: 600 !important;
}
h3{
  font-size: 25px !important;
    font-weight: 600 !important;
}
.progress-title{
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: #313131;
}
.stepNumber{
    background-color: #0F3F93;
    color: #FFFFFF;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-right: 10px;
}
.progress, .progress-stacked{
    height: 6px !important;
    border-radius: 5px !important;
    margin-top: 12px;
}
.progress-bar {
    display: flex;
    flex-direction: column;
    height: 6px !important;
    justify-content: center;
    overflow: hidden;
    color: var(--bs-progress-bar-color);
    text-align: center;
    white-space: nowrap;
    background-color: #0F3F93 !important;
}
.step-count{
  font-size: 14px;
}
.registration__card__{
    border: none !important;
    border-radius: 20px !important;
    padding: 25px 35px !important;
    box-shadow: 2.72px 8px 24px 0px rgba(0, 0, 0, 0.15);
}

.pl-6 {
    padding-left: 5rem !important;
}
.pr-6 {
    padding-right: 5rem !important;
}
.pt_rem-3 {
    padding-top: 3rem !important;
}

.login-full-bg{
    min-height: max-content !important;
}

.ml-2{
    margin-left: 0.5rem !important;
}
.form-check-input[type=radio] {
    border-radius: 50%;
    width: 18px !important;
    height: 18px !important;
}
.pb_rem-5{
    padding-bottom: 5rem !important;
}
.job__headings__{
  font-size: 13px !important;
  font-weight: 600 !important;
  color: #313131 !important;
}
.list-item{
    list-style-type: disc !important;
}
.px-20{
  padding: 20px;
}
.pl-1{
  padding-left: 10px !important;
}
.list_number__{
    list-style-type: decimal !important;
}
.list_none_{
    list-style-type: none !important;
    padding: 0px !important;
}