.pre-container {
  display: flex;
  /* height: 100vh; */
  width: 100%;
}

.left {
  flex: 1;
  padding: 60px 80px;
}

.right {
  flex: 1;
  background: #e9f1fb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 32px;
  font-weight: 600;
}

.step-header {
  display: flex;
  align-items: center;
  gap: 12px;
}

.step-number {
  background: #0d3b85;
  color: white;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.illustration {
  width: 70%;
}
.step-card {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.08);
}

.date-row {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.date-row select {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.radio-group {
  margin-bottom: 20px;
}

.button-row {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.login__section__ .form-control {
  height: 52px !important;
  background: #ffffff !important;
}
.login-full-bg {
  background: #fff !important;
  /* min-height: 100vh; */
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.login-container {
  background: transparent !important;
  /* min-height: 100vh; */
  width: 100%;
  margin: 0;
  padding: 0;
}

body, html {
  background: #ffffff !important;
  /* min-height: 100vh; */
  width: 100%;
  margin: 0;
  padding: 0;
}

.login__section__{
    margin-top: 120px !important;
}
.img-fluid{   
    max-width: 100%;
    height: -webkit-fill-available !important;
}
.login-footer{
    position: absolute;
    bottom: 70px;
    width: 100%;
    text-align: center;
    color: #888;
    left: 0;
}
.login-image-text{
    position: absolute;
    top: 100px;
    padding-left: 200px;
    padding-right: 120px;
    /* transform: translateX(-50%); */
    font-size: 1.1rem;
    z-index: 2;
    font-size: 25px;
    color: #455A64;
    font-weight: 400
}
.login-image-text-sub{
    font-weight: 600;
    color: #0F3F93;
}
.progress-title{
    font-size: 16px;
}
