.login__section__ .form-control {
  height: 52px !important;
  background: #ffffff !important;
}
.login-full-bg {
  background: #fff !important;
  min-height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.login-container {
  background: transparent !important;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}
.row.vh-100 {
  min-height: 100vh;
}
body, html {
  background: #ffffff !important;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.login__section__{
    margin-top: 120px !important;
}
.img-fluid{   
    max-width: 100%;
    height: 100vh !important;
    object-fit: cover;
}
.login-footer{
    position: absolute;
    bottom: 70px;
    width: 100%;
    text-align: center;
    color: #888;
    left: 0;
}
.login-image-text{
    position: absolute;
    top: 40px;
    padding-left: 200px;
    padding-right: 120px;
    /* transform: translateX(-50%); */
    font-size: 1.1rem;
    z-index: 2;
    font-size: 25px;
    color: #455A64;
    font-weight: 400
}
.login-image-text-sub{
    font-weight: 600;
    color: #0F3F93;
}