.navbar-nav{
    height: 60px;
}

.txt__regular__ ul,
.txt__regular__ ol {
  margin-left: 1.5em;
  padding-left: 1.5em;
  list-style-position: inside;
}

.txt__regular__ ul {
  list-style-type: disc;
}

.txt__regular__ ol {
  list-style-type: decimal;
}
.post-job.btn-secondary {
    background-color: #ffffff !important;
    border-color: #0d3b85 !important;
    padding: 7px 19px !important;
    height: 36px !important;
    color: #0d3b85 !important;
    font-weight: 500 !important;
}
.post-job.btn-secondary:hover {
    background-color: #ebf3ff !important;
    border-color: #0d3b85 !important;
    padding: 7px 19px !important;
    height: 36px !important;
    color: #0d3b85 !important;
    font-weight: 500 !important;
}